* {
    margin: 0; 
    box-sizing: border-box;
    max-width: 100%;
}
.header, main {
    margin-right: auto;
    margin-left: auto;
}
.header {
    width: 570px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.header ul {
    list-style: none;
    text-align: center;
    margin-top: 70px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    font-size: 11px;
    margin-bottom: 100px;
}
.header li {
    display: inline-block;
    width: 24%;
}
.header a {
    text-decoration: none;
    color: #626262;
}
.header a:hover,
.header a:focus {
    color: #03a9f4;
}

/* main */
main {
    width: 900px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news {
    width: 47%;
    margin-bottom: 140px;
}
a {
    text-decoration: none;
}
.news img {
    width: 100%;
}
.news h2 {
    margin: 26px 0;
    font-family: 'Ubunto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #b4ad9e;
}
.news h3 {
    margin-bottom: 37px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #626262;
}
.news p {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #626262;
}
input, .button {
    width: 165px;
    height: 60px;
    background-color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .main { 
        padding: 0 15px;
    }
}
@media (max-width: 430px) {
    ul.nav{
        padding-inline-start: 0;
    }
    .news {
        width: 100%;
        margin-bottom: 40px;
    }
}